/* general */
* {
    box-sizing: border-box;
}

/* tags */
html {
    /* color: var(--clrPrimarybase); */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    /* letter-spacing: 0.12em; */
   
}

body {
    margin: 0;
    background-color: var(--clr1);
}


