/* MAIN */

.main-layout {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    min-height: 100vh
}

.main-layout > *:not(.full) {
    grid-column: 2;
}

.main-layout > *.full {
    grid-column: 1 / -1;
}

/* EDITOR */

.editor-grid {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: 60vh; */
    column-gap: 20px;
    margin-top: 5vh;
    /* height: 60vh; */
}

.meme-editor .control-area{
    /* grid-column: 2; */
    grid-row: 2;
    height: 300px;
}
.meme-editor .grid-container{
    grid-row: 1;
}
