@font-face {
    font-family: inconsolata, sans-serif;
    src: url("/fonts/inconsolata/Inconsolata-Regular.ttf");
}

@font-face {
    font-family: eurofurence, sans-serif;
    src: url("/fonts/eurofurence/eurofurence-regular.ttf");
}

@font-face {
    font-family: impact1, sans-serif;
    src: url("/fonts/impact/impact.ttf");
}

@font-face {
    font-family: impacted, sans-serif;
    src: url("/fonts/impacted/Impacted.ttf");
}

@font-face {
    font-family: lato, sans-serif;
    src: url("/fonts/lato/Lato-Regular.ttf");
}

@font-face {
    font-family: playfair, serif;
    src: url("/fonts/playfair/PlayfairDisplay-Regular.ttf");
}

@font-face {
    font-family: ubuntu, sans-serif;
    src: url("/fonts/ubuntu/Ubuntu-Light.ttf");
}