:root {
    /* pallete */
    --clr1: #FFC600;
    --clr2: #26006d;
    --clr3: #B31312;
    --clr4: #000000;
    /* --clr1: #EEE2DE;
    --clr2: #272563;
    --clr3: #B31312;
    --clr4: #19155f; */
    /* --clr2: #845eca; */

  

    --canvas-width: 300px

    --l: 1060px;
    --m: 860px;
    --s: 620px;
}
