:root {
    /* pallete */
    --clr1: #faf4c1;
    --clr2: #26006d;
    --clr3: #b31312;
    --clr4: #0c0c0c;
    --clr5: #ffc600;

    --canvas-width: 300px --l: 1060px;
    --m: 860px;
    --s: 620px;
}
