.control-area{
    height: 100%;
    outline: 1px solid black;
    padding: 10px;


}

.control-area .fb-upload img{
    width: 20px;
    height: 20px;
}
.control-area .fb-upload{
    width: 40px;
    height: 40px;
    background-color: lightgray;
    cursor: pointer;
}
.control-area .fb-upload:hover{
    background-color: rgb(30, 48, 80);
}

.control-area img{
    width: 25px;
}

.control-area .save-btn{
    border:1px solid black ;
    cursor: pointer;
    height: 40px;
    width: 80px;
}
.control-area .dl-link{
    display: flex;
    align-items: center;
    height: 40px;
    width: 80px;
    text-decoration: none;
    border:1px solid black ;
}