.fonts-container {
    position: absolute;
    display: grid;
    grid-template-rows: 0fr;
    place-items: center;
    overflow: hidden;
    transition: grid-template-rows 1s;
    position: absolute;
    top: 0;
    top: 1em;
}

.fonts-container.expanded {
    grid-template-rows: 1fr;
}

.font-btn {
    font-family: dancing;
    font-size: 20px;
    letter-spacing: 0.1em;
    font-weight: 700;
    background-color: var(--clr1);
    border: 2px solid var(--clr3);
    border-radius: 0.3em;
    height: 30px;
    cursor: pointer;
}

.font-btn:hover,
.fonts-list li:hover {
    background-color: var(--clr5);
}

.fonts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 0;
    transition: visibility 1s;
    background-color: var(--clr1);
}

.fonts-list li {
    font-size: 20px;
    border: 1px solid var(--clr3);
    width: 125px;
    height: 35px;
    padding: 4px;
    cursor: pointer;
}

.fonts-container.expanded .fonts-list {
    visibility: visible;
}

.fonts-container .fonts-list > li:nth-child(1) {
    font-family: impact1;
}

.fonts-container .fonts-list > li:nth-child(2) {
    font-family: eurofurence;
}

.fonts-container .fonts-list > li:nth-child(3) {
    font-family: kablammo;
}

.fonts-container .fonts-list > li:nth-child(4) {
    font-family: inconsolata;
}

.fonts-container .fonts-list > li:nth-child(5) {
    font-family: lato;
}

.fonts-container .fonts-list > li:nth-child(6) {
    font-family: playfair;
}

.fonts-container .fonts-list > li:nth-child(7) {
    font-family: ubuntu;
}

.fonts-container .fonts-list > li:nth-child(8) {
    font-family: belanosima;
}

.fonts-container .fonts-list > li:nth-child(9) {
    font-family: source;
}

.fonts-container .fonts-list > li:nth-child(10) {
    font-family: dancing;
}
