.image-gallery{ 
    display: none;
    /* align-items: stretch; */
}

.image-gallery.show{
    display: block;
}


.image-gallery .filter-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr3);
    border: 1px solid var(--clr3);
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-inline-start: 3px;
}
.image-gallery .filter-btn img{
    width: 18px;
}

.image-gallery [name="filter"]{
    display: inline-block;
    margin-inline-start: 40px;
    border: 1px solid var(--clr3);

}

.image-gallery .grid-container{
    

    columns: 1;

    place-items: center;
    
    /* padding-inline: 40px; */
    margin-block-start: 25px;
    column-gap: 15px;

  
}


.image-gallery .grid-container img{
    width: 100%;
    cursor: pointer;
    margin-block-end: 15px;
}

.image-gallery .keywords-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 1;
    align-items: center;
    grid-area: 2/1/2/2;
}

.image-gallery .keywords-container>*{
    margin-inline-end: 0.4em;
    cursor: pointer;
}

.image-gallery .gallery-title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    letter-spacing:0;
}

.file-input-btn{
    margin-inline-start: 40px;
    margin-block-end: 1em;
    border: 1px solid var(--clr3);
    /* background-color: var(--clr3); */
    padding: 5px;
    border: 0.5em;
    
    /* margin: auto; */
}