.image-gallery{ 
    display: none;
}

.image-gallery.show{
    display: block;
}


.image-gallery .grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-auto-flow: dense;
    place-items: center;
    padding: 5vh;
    gap: 10px;

}

.image-gallery .grid-container img{
    width: 100%;
}

.image-gallery .grid-container img:nth-of-type(4n){
    grid-column:span 2 ;  
    grid-row:span 2 ;  
}
/* .image-gallery .grid-container img:nth-of-type(6n){
    grid-column:span 3 ;  
    grid-row:span 3 ;  
} */