.image-gallery{ 
    display: none;
}

.image-gallery.show{
    display: block;
}


.image-gallery .grid-container{
    /* display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-auto-flow: dense; */

    columns: 1;

    /* grid-auto-rows: 200px; */
    place-items: center;
    padding: 5vh;
    column-gap: 15px;

  
}


.image-gallery .grid-container img{
    width: 100%;
    cursor: pointer;
    margin-block-end: 15px;
    /* position: absolute; */
    /* object-fit: cover; */
    /* height: 100%; */
    /* background-position: center; */
    /* margin: auto; */
}

/* .image-gallery .grid-container img:nth-of-type(4n){
    grid-column:span 2 ;  
    grid-row:span 2 ;  
} */
/* .image-gallery .grid-container img:nth-of-type(6n){
    grid-column:span 3 ;  
    grid-row:span 3 ;  
} */