.main-footer{
    /* position: fixed;
    bottom: 0; */
    justify-content: center;
    align-items: center;
    background-color: var(--clr4);
    height: 80px;
    margin-block-start: 20px;
    box-shadow: 0 0 0 5px var(--clr3);

    margin-block-start: 30px;
}

.main-footer img{
    width: 60px;
    /* height: 80px; */
}