.main-header{
    background-color: var(--clr4);
  color: var(--clr1);
  box-shadow: 0 0 0 5px var(--clr3);
}

/* .main-header .nav-container .nav{

} */

.main-header .nav-container .nav>*{
    /* margin-inline-start: 12px; */
    display: flex;
    justify-content:center ;
    align-items: center;
    height: 80px;
    width: 80px;
    cursor: pointer;
    border-inline-start: 1px solid var(--clr3);
    
}
.main-header .logo{
    font-family: eurofurence;
    /* font-size: 28px; */
    margin-inline-start: 20px;
}