.meme-editor {
    display: none;
}

.meme-editor.show {
    display: block;
}

.canvas-container {
    background-color: blanchedalmond;
    height: 100%;
    cursor: grab;
    max-width: 900px;
}

.meme-canvas {
    display: block;
}

.control-area {
    position: relative;
    height: 100%;
    border: 5px solid var(--clr3);
    border-radius: 1em;
    padding: 15px;

    background-color: var(--clr2);
    margin-block-start: 20px;


}



.control-area .txt-btns>* {
    border: 2px solid var(--clr3);
    background-color: var(--clr1);
    border-radius: 0.5em;
    width: 45px;
    height: 45px;
    cursor: pointer;


}



.control-area .clr-inputs input {
    width: 45px;
    height: 45px;
    border: none;
    border: 1px solid black;
    cursor: pointer;
}

.control-area .clr-inputs label {
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.control-area .url-btns {
    margin-inline: auto;
}

.control-area .url-btns>* {
    display: flex;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 0.5em;
    margin-inline: 4px;
    cursor: pointer;
}



.control-area .fb-upload {
    background-color: gray;

    border-style: none;
}

.control-area .fb-upload:hover {
    background-color: rgb(30, 48, 80);
}

.control-area img {
    width: 30px;
    /* height: 30px; */
}

.control-area .save-btn {
    border: 2px solid var(--clr3);
    background-color: var(--clr1);

}

.control-area .dl-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 2px solid var(--clr3);
    background-color: var(--clr1);

}

.control-area #line-txt {
    position: relative;
    border: 2px solid var(--clr3);
    border-radius: 0.3em;
    height: 2.5em;
}


.control-area .share-api {
    border: 2px solid var(--clr3);
    background-color: var(--clr1);
}

.control-area .share-api img {
    justify-self: center;
}

.control-area .save-btn:hover,
.control-area .share-api:hover,
.control-area .dl-link:hover,
.control-area .txt-btns>*:hover {
    background-color: var(--clr5);
}



.icon-carousel .icon-btn {
    background-color: transparent;
    border-style: none;
    border-radius: 0.5em;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.icon-carousel .carousel-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--clr3);
    background-color: var(--clr1);
    border-radius: 0.5em;
    cursor: pointer;
    margin-inline: 0.3em;

}



.icon-carousel {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}


.icon-carousel .carousel-btn:hover,
.icon-carousel .icon-btn:hover {
    background-color: var(--clr5);
}



.control-area .font-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    pointer-events: none;
    border-radius: 1em;

    transition: opacity 0.6s;
    opacity: 0;
}

.control-area .font-screen.show {
    opacity: 1;
    pointer-events: auto;
}

.txt-btns>*,
.url-btns>*,
.carousel-btn {
    width: 45px;
    height: 45px;
}

.font-btn {
    width: 300px;
    height: 45px;
    margin: 0 auto;
}

.txt-btns>* {


    margin-inline: 0.3em;
}

.txt-btns {
    justify-content: center;
}

.icon-display {
    background-color: var(--clr1);
    border: 2px solid var(--clr3);
    border-radius: 0.3em;
}

[title="Font Size"], 
[title="Stroke Color"], 
[title="Fill Color"], 
[title="Outline"], 
[title="Save Meme"], 
[title="Share on Facebook"], 
[title="Download"], 
[title="Share Website"], 
[title="Delete Line"], 
[title="Add Line"]{
    position: relative;
  }

  [title="Font Size"]:hover::after,
  [title="Fill Color"]:hover::after,
  [title="Stroke Color"]:hover::after,
  [title="Outline"]:hover::after,
  [title="Save Meme"]:hover::after,
  [title="Share on Facebook"]:hover::after,
  [title="Download"]:hover::after,
  [title="Share Website"]:hover::after,
  [title="Delete Line"]:hover::after,
  [title="Add Line"]:hover::after{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.1px;
    content: attr(title);
    position: absolute;
    font-size: 12px;
    background: var(--clr1);
    color: var(--clr4);
    padding: 0.2em 0.3em;
    border: 1px solid var(--clr3);
    border-radius: 0.3em;
    text-transform: capitalize;
    bottom: -25px;
    width: max-content;
    left: 12px;
    z-index: 2;
  }