/* SETUP */
@import url("setup/variables.css");
@import url("setup/typography.css");

/* BASICS */
@import url("basics/base.css");
@import url("basics/helpers.css");
@import url("basics/layout.css");

/* COMPONENTS */
@import url("components/main-header.css");
@import url("components/image-gallery.css");
@import url("components/meme-editor.css");
@import url("components/saved-memes.css");
@import url("components/fonts-slider.css");
@import url("components/main-footer.css");
@import url("components/share-fallback.css");

/* MQ */
@import url("basics/mq.css");

