/* SETUP */
@import url("setup/variables.css");
@import url("setup/typography.css");

/* BASICS */
@import url("basics/base.css");
@import url("basics/helpers.css");
@import url("basics/layout.css");

/* COMPONENTS */
@import url("components/main-header.css");
@import url("components/image-gallery.css");
@import url("components/meme-editor.css");
@import url("components/saved-memes.css");
@import url("components/fonts-slider.css");
@import url("components/main-footer.css");
@import url("components/share-fallback.css");

/* MQ */
@import url("basics/mq.css");

[data-title] {
    position: relative;
  }

  [data-title]:hover::after {
    content: attr(data-title);
    position: absolute;
    font-size: 12px;
    background: #f0abab;
    color: #fff;
    padding: 0.2em 0.3em;
    border-radius: 0.2em;
    text-transform: capitalize;
    bottom: -25px;
    width: max-content;
    left: 12px;
  }